@model InternTest.Models.StudentModel
<div class="modal fade" id="deleteStudentModal_@Model.Id" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Student?</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to delete @Model.FirstName @Model.LastName?</p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Return to Student List", "Index", "Student", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("DELETE", "Delete", "Student", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
