@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is the Home page of the applicqation.</p>
@Html.ActionLink("Click Here to go to the Student index page.", "Index", "Student")